.bucks_container {
  width: 100%;
  height: 100%;
  min-height: 90vh;
  background-image: url("https://cdn2.unrealengine.com/Fortnite%2Fposa-card-redemption%2FBG_1907x939_1567968566929_1907x878_1569312335335-1907x877-d35d9e0920677225dd2b1065a0193fa848712bfa.png");
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.bucks_img {
  width: 100%;
  max-width: 627px;
  height: 480px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bucks_img img {
  width: 100%;
  height: 100%;
  filter: drop-shadow(0px, 0px, 2px #000);
  object-fit: contain;
}

.container_redeem {
  width: 688px;
  height: 522px;
  display: flex;
  padding: 10px 15px;
  flex-direction: column;
}

.container_redeem h1 {
  font-size: 64px;
  font-weight: 400;
  width: 80%;
  text-transform: uppercase;
  letter-spacing: 0.8px;
  color: #fff;
  font-family: var(--font-c);
  margin: 0px 0px 10px 0px;
}

.container_redeem h3 {
  font-size: 30px;
  font-family: var(--font-c);
  color: #ffff00;
  margin: 10px 0px 10px 0px;
  font-weight: 300;
}

.container_redeem p {
  font-size: 1rem;
  margin: 10px 0px 10px 0px;
  color: #333333;
  font-weight: 700;
  font-family: "Open Sans", sans-serif;
}

.container_redeem button {
  width: 240px;
  height: 60px;
  color: #333333;
  font-size: 1.25rem;
  background-color: #ffff00;
  font-family: var(--font-c);
  text-transform: uppercase;
  border: none;
  cursor: pointer;
}

.container_redeem button:active {
  transform: scale(0.9);
  transition: 100ms;
}
